header {
    background-color: #7695FE;
    border: thin #336699 solid;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    }


.Test1 p {
    /* padding: 10px; */
    /* margin: 10px; */
    text-align: left;
    font-size: large;
    margin-top: 0;
    margin-bottom: 0;
    }

footer {
    background-color: #dae2fd;
    /* border: thin #336699 solid; */
    /* padding: 10px; */
    /* margin: 10px; */
    text-align: center;
    font-size: small;
    }