    <li><a href="../Pdf/Prere/Setting Up Git/" class="motLink">Setting Up Git</a></li>
    <!DOCTYPE html>
    <html lang="ru">
    
    <head>
      <meta charset="utf-8">
      <title>Git Basics</title>
      <link rel="stylesheet" type="text/css" href="../css/style.css">
    </head>
    
    <style>
      .mainLink{
        background-color: #ff0a0aa1;
      }
    </style>
    
    <body>
    
      <Header>
        <hl>The Odin Project/Git Basics</hl>
      </Header>
      
      <ul class="mainNav">
        <li><a href="../Pdf/Prere/Computer Basics/" class="motLink">Computer Basics</a></li>
        <li><a href="../Pdf/Prere/How Does the Web Work/" class="motLink">How Does the Web Work</a></li>
        <li><a style="color: rgb(0, 0, 0); background-color: #ff0a0aa1" href="../index.html" class="mainLink">To main page</a></li>
      </ul>
    
      <footer class="Footer">
        <p class="Disclaimer">These apocalyptic predictions ...</p>
        <!-- <p> <a href="AboutUs.html">About Us</a> </p> -->
        <p>Copyright © 2022</p>
      </footer>
    
    </body>
    
    </html>