<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <title>Intro</title>
  <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

<body>

  <Header>
    <hl>Intro</hl>
  </Header>

  <div class="Test1">
    <p><a href="../Pdf/Intro/Motivation and Mindset/">Motivation and Mindset</a><br>
    <a href="../Pdf/Intro/Join the Odin Community/">Join the Odin Community</a><br>
    <a href="../Pdf/Intro/Asking For Help/">Asking for Help</a>
    <h3><a style="color: red" href="../index.html">To main page</a></h3>
  </div>

  <footer class="Footer">
    <p class="Disclaimer">These apocalyptic predictions ...</p>
    <!-- <p> <a href="AboutUs.html">About Us</a> </p> -->
    <p>Copyright © 2022</p>
  </footer>

</body>

</html>