<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <title>Intro</title>
  <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

<body>

  <Header>
    <hl>Intro</hl>
    <!-- <p class="Byline">by Ray N. Carnation</p> -->
  </Header>
  <!-- Пример вставки изображения из папки img -->
  <!-- <img src="img/logo.png" width="182" height="81" alt="A+"> -->
  <ul>
    <li><a href="../Pdf/Intro/Motivation and Mindset/">Motivation and Mindset</a></li>
    <li><a href="../Pdf/Intro/Join the Odin Community/">Join the Odin Community</a></li>
    <li><a href="../Pdf/Intro/Asking For Help/">Asking for Help</a></li>
  </ul>
  <!-- </nav> -->

</body>

</html>